/*------------------Global CSS started-------------------*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary_background-clr: #fafafa;
  --secondary_background-clr: #f1f1f1;
  --linear_gradient: linear-gradient(90deg,
      #e900d7 0%,
      #7234ec 50%,
      #0166ff 100%);
  --radial_gradient: #7234ec, #e900d700;
  --primary_clr: #1d5aff;
  --btn_box_shadow: 4px 4px 0px 0px #000;
  --solid_white_clr: #ffffff;
  --global_btn_clr: #ffc73c;
  --yellow_clr: #ffc73c;
  --heading_black_clr: #000000;
  --secondary_black_clr: #222;
  --light_gray_para_clr: #757575;
  --medium_light_gray_para_clr: #545454;
  --dark_light_gray_para_clr: #5b5b5b;
  --blog-category-blue: #0166ff;
}


@font-face {
  font-family: NexaBold;
  src: url("/Typography/nexa/Nexa\ Light.otf"),
    url("/Typography/nexa/NexaRegular.otf"),
    url("/Typography/nexa/Nexa\ Bold.otf"),
    url("/Typography/nexa/NexaBold.otf");
}


body {
  font-family: NexaBold;
  overflow-x: hidden;
  background-color: var(--primary_background-clr);
}

section {
  margin-bottom: 9.375rem;
}

.flex_row {
  display: flex;
}

.grid_row {
  display: grid;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.84rem;
}
h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.93rem;
}
h3 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}
h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.965rem;
}
p {
  color: var(--light_gray_para_clr);
  line-height: 111%;
}
ul{
  list-style: none;
}
.btn_yellow {
  background-color: var(--global_btn_clr);
}
.btn_blue {
  background-color: var(--primary_clr);
}
.global_btn {
  border: 1px solid #fafafa;
  box-shadow: var(--btn_box_shadow);
  background-color: var(--primary_clr);
  border-radius: 5px;
  
}
button:hover {
  box-shadow: none;
  transform: translate(4px, 4px);
}
.card{
  border-radius: 30px;
  box-shadow: var(--btn_box_shadow);
}
.main-section {
  min-height: 766.698px;
  padding: 9.375rem 9.1875rem;
}
.container {
  max-width: 1678px;
  margin-inline: auto;
}
.radial {
  width: 137.125rem;
  height: 82.4375rem;
  background: radial-gradient(101.92% 50% at 50% 50%,
      rgba(114, 52, 236, 0.5) 0%,
      rgba(233, 0, 215, 0) 51.73%);
}
input,
textarea {
  border-radius: 0.3125rem;
  border: 1px solid #000;
  box-shadow: var(--btn_box_shadow);
  background-color: var(--solid_white_clr);
}

/*------------------Global CSS ended-------------------*/