/* -------------------------------footer styling starts------------------------------------------------- */
.homepage_footer .main_container {
    position: relative;
}

.homepage_footer .main_container .mini_container .mini_sub_container .star_box .upper_buttons .footerbutton .center_content {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.homepage_footer .main_container .upper_containers .white_container {
    width: 100%;
    height: 341px;
    margin-top: 90px;
}

.homepage_footer .main_container .upper_containers .black_container .links_container .footer_description h3 {
    line-height: 40px;
}

.homepage_footer .main_container .upper_containers .black_container {
    width: 100%;
    height: 1009px;
    background-color: black;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.homepage_footer .main_container .content_container {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 1px;
    justify-content: center;
}

.homepage_footer .main_container .content_container .mini_container {
    border-radius: 10px;
    width: 100%;
    background-color: #1D5AFF;
    box-shadow: 9px 9px black;
    border: 3px solid white;
    justify-content: center;
    align-items: center;
}

.homepage_footer .main_container .mini_container .mini_sub_container .star_box .upper_buttons .footerbutton {
    width: 212px;
    height: 58px;
    background-color: var(--global_btn_clr);
    /* -------------------bg-is-overlaaping-in-global------------ */
    border: 1px solid black;
    /* ----------------border-is-not-added-in-buttons----------- */
    border-radius: 5px;
    /* ----------------border-radius-is--also-wrong----------- */
    font-weight: 700;
    /* ----------------also add font-weight----------- */
    cursor: pointer;
    /* ----------------cursor-pointer is not added----------- */
    font-size: 20px;
    /* ----------------fontsize is not  is not added----------- */

}

.homepage_footer .main_container .mini_container .mini_sub_container .star_box .upper_buttons .getstarted_color {
    width: 212px;
    height: 58px;
    color: white;
    /* -------------------bg-is-overlaaping-in-global------------ */
    border: 1px solid rgb(255, 255, 255);
    /* ----------------border-is-not-added-in-buttons----------- */
    border-radius: 5px;
    /* ----------------border-radius-is--also-wrong----------- */
    font-weight: 700;
    /* ----------------also add font-weight----------- */
    cursor: pointer;
    /* ----------------cursor-pointer is not added----------- */
    font-size: 20px;
    /* ----------------fontsize is not  is not added----------- */

}

.homepage_footer .main_container .mini_container .mini_sub_container .star_box .upper_buttons {
    margin-top: 30px;

}

.homepage_footer .main_container .content_container .mini_container .mini_sub_container {
    padding: 0px;
    width: 1143px;
    justify-content: center;
    align-items: center;
    color: var(--solid_white_clr);
}

.homepage_footer .main_container .upper_containers .black_container .links_container {
    width: 100%;
    justify-content: space-between;
    margin-top: 300px;
    align-items: center;
}

.homepage_footer .main_container .upper_containers .black_container .links_container li {
    font-size: 22px;
}

.homepage_footer .main_container .upper_containers .black_container .links_container li:hover {
    color: var(--primary_clr);
    cursor: pointer;
}

.homepage_footer .main_container .upper_containers .black_container .links_container ul {
    gap: 10px;
}

.homepage_footer .main_container .content_container .mini_container .mini_sub_container h4 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.homepage_footer .main_container .content_container .mini_container .mini_sub_container {
    gap: 30px;
}

.homepage_footer .main_container .upper_containers .black_container .links_container .footer_description {
    width: 325px;
    gap: 30px;
    color: var(--solid_white_clr);
}

.homepage_footer .main_container .upper_containers .black_container .links_container .footer_description span {
    font-size: 24px;
}

.homepage_footer .main_container .upper_containers .black_container .links_container .footer_description ul,
li span {
    margin-bottom: 20px;
    color: var(--global_btn_clr);
    font-weight: 700;
    font-size: 36px;
}

.homepage_footer .main_container .upper_containers .black_container .links_container .footer_description ul,
li {
    color: var(--solid_white_clr);
    font-weight: 700;
    font-size: 36px;
}

.homepage_footer .main_container .upper_containers .black_container .copywrite_container {
    border-top: gray solid 2px;
    width: 100%;
    justify-content: space-between;
    padding-top: 33px;
}

.homepage_footer .main_container .upper_containers .black_container .copywrite_container .copywrite_links {
    gap: 70px;
}

.homepage_footer .main_container .upper_containers .black_container .copywrite_container .copywrite_links li {
    font-size: 15px;
}

.homepage_footer .main_container .upper_containers .black_container .copywrite_container .copywrite_text {
    width: 500px;
    color: var(--solid_white_clr);

}

.homepage_footer .main_container .upper_containers .black_container .links_container .footer_description h3 {
    font-size: 36px;
    font-weight: 700;
}

.homepage_footer .main_container .upper_containers .black_container .social_media {
    width: 100%;
}

.homepage_footer .main_container .upper_containers .black_container .social_media {
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.homepage_footer .main_container .upper_containers .black_container .social_media svg:hover path {
    fill: var(--primary_clr);
    cursor: pointer;
}

.homepage_footer .main_container .upper_containers .black_container .social_media svg path {
    fill: rgb(255, 255, 255);
    cursor: pointer;
}

.homepage_footer .main_container .content_container .mini_container .mini_sub_container .star_box {
    width: 89%;
    height: 600px;
    position: absolute;
    top: 0;
}

.homepage_footer .main_container .content_container .mini_container .mini_sub_container .star_box .image_first {
    position: relative;
    left: 100px;
    top: 50px;
}

.homepage_footer .main_container .content_container .mini_container .mini_sub_container .star_box .image_second {
    position: relative;
    left: 1347px;
    top: 74px;
    width: 94px;
    height: 88px;
}

.homepage_footer .main_container .content_container .mini_container .mini_sub_container .star_box .image_third {
    position: relative;
    left: 1206px;
    top: 240px;
    width: 40px;
    height: 40px;
}

.homepage_footer .main_container .content_container .mini_container .mini_sub_container .star_box .image_forth {
    position: relative;
    left: 130px;
    top: 360px;
    width: 43px;
    height: 43px;
}

.homepage_footer .main_container .content_container .mini_container .mini_sub_container .styling_text {
    background: #ffffff;
    color: #1D5AFF;
    transform: rotate(-0.50deg);
    width: fit-content;
    margin-left: 10px;
    padding: 0 15px;
}

.homepage_footer .main_container .content_container .mini_container .mini_sub_container .container_max {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.homepage_footer .main_container .content_container .mini_container .mini_sub_container .container_max .mini_box_text {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    width: 90%;
    justify-content: center;
}

.homepage_footer .main_container .upper_containers .black_container .links_container .footer_description h3 span {
    font-size: 36px;
    background-color: #1D5AFF;
    width: fit-content;
    padding: 2px 5px;
}

.homepage_footer .main_container .content_container .mini_container .mini_sub_container .star_box .upper_buttons {
    position: relative;
    gap: 40px;
    top: 360px;
    width: 100%;
    justify-content: center;
}
/* ------------------------------------------------footer section 10 ends --------------------------------------------- */

/* --------------------------------------blog-section-starts section9 ------------------------- */

.homepage_section_10 .blogs_section .container_Blogs .styling_text2 {
    background: #1D5AFF;
    color: #ffffff;
    transform: rotate(-0.40deg);
    width: fit-content;
    margin-left: 10px;
    padding: 0px 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.homepage_section_10 .blogs_section {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.homepage_section_10 .blogs_section .container_Blogs {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.homepage_section_10 .blogs_section .container_Blogs button {
    width: 212px;
    height: 58px;
    background-color: var(--global_btn_clr);
    /* -------------------bg-is-overlaaping-in-global------------ */
    border: 1px solid black;
    /* ----------------border-is-not-added-in-buttons----------- */
    border-radius: 5px;
    /* ----------------border-radius-is--also-wrong----------- */
    font-weight: 700;
    /* ----------------also add font-weight----------- */
    cursor: pointer;
    /* ----------------cursor-pointer is not added----------- */
    font-size: 20px;
    /* ----------------fontsize is not  is not added----------- */
}

.homepage_section_10 .blogs_section .container_Blogs h2 {
    color: #000000;
    font-weight: 700;
    font-size: 64px;
}

.homepage_section_10 .blogs_section .container_Blogs .card_container .blog_card .blog_image .responsive_image {
    width: 100%;
    height: auto;
}

.homepage_section_10 .blogs_section .container_Blogs .card_container .blog_card {
    width: 100%;
    height: auto;
    border: solid 2px #1D5AFF;
    border-radius: 15px;
    justify-content: center;
    padding: 10px;
    box-shadow: 9px 9px black;
}

.homepage_section_10 .blogs_section .container_Blogs .card_container .blog_card .blog_image {
    position: relative;
    width: 100%;

}

.homepage_section_10 .blogs_section .container_Blogs .card_container .blog_card .blog_image img {
    object-fit: cover;
}

.homepage_section_10 .blogs_section .container_Blogs .card_container .blog_card .card_details .card_content span {
    color: #ffffff;
    background: #1D5AFF;
    padding: 5px;
    width: fit-content;
}

.homepage_section_10 .blogs_section .container_Blogs .card_container .blog_card .card_details .card_content h4 {
    font-size: 24px;
    color: #000000;
}

.homepage_section_10 .blogs_section .container_Blogs .card_container .blog_card .card_details .card_content {
    gap: 20px;
    margin-top: 30px;
}

.homepage_section_10 .blogs_section .container_Blogs .card_container .blog_card .card_details .blog_author_details {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    color: #000000;
}

.homepage_section_10 .blogs_section .container_Blogs .card_container .blog_card .card_details {
    padding: 0px 20px;
}

.homepage_section_10 .blogs_section .container_Blogs .card_container .blog_card .card_details .blog_author_details .container_author {
    gap: 10px;
}

.homepage_section_10 .blogs_section .container_Blogs .card_container .blog_card .card_details .blog_author_details .container_author p {
    font-size: 13px;
}

.homepage_section_10 .blogs_section .container_Blogs .card_container .blog_card .card_details .blog_author_details .read_post {
    color: #1D5AFF;
    font-weight: 700;
}

.homepage_section_10 .blogs_section .container_Blogs .card_container {
    gap: 25px;
}

.homepage_section_10 .blogs_section .container_Blogs h2 {
    gap: 10px;
}
/* --------------------------------------blog-section-starts section9 ends ------------------------- */

/* -----------------------------------------faq_section_09 starts-------------------- */

.homepage_section_09 .faq_section {
    width: 100%;
    height: 100vh;
    color: #000000;
    background: #F1F1F1;
    justify-content: center;
    align-items: center;
}

.homepage_section_09 .faq_section .faq_container {
    gap: 60px;
    height: auto;
    position: sticky;
}

.homepage_section_09 .faq_section .faq_container .faq_headings {
    flex: 1;
    gap: 10px;
    position: relative;
}

.homepage_section_09 .faq_section .faq_container .faq_questions {
    flex: 1;
    gap: 20px;
}

.homepage_section_09 .faq_section .faq_container .faq_headings p {
    font-size: 18px;
    line-height: 24px;
}

.homepage_section_09 .faq_section .faq_container .faq_headings h2 {
    font-weight: 900;
}

.homepage_section_09 .faq_section .faq_container .faq_questions .faq_button button {
    width: 212px;
    height: 58px;
    background-color: var(--global_btn_clr);
    /* -------------------bg-is-overlaaping-in-global------------ */
    border: 1px solid black;
    /* ----------------border-is-not-added-in-buttons----------- */
    border-radius: 5px;
    /* ----------------border-radius-is--also-wrong----------- */
    font-weight: 700;
    /* ----------------also add font-weight----------- */
    cursor: pointer;
    /* ----------------cursor-pointer is not added----------- */
    font-size: 20px;
    /* ----------------fontsize is not  is not added----------- */
}

.homepage_section_09 .faq_section .faq_container .faq_questions .questions_container {
    background: #ffffff;
    width: 1224px;
    height: 71px;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: #000000 4px 4px;
    justify-content: space-between;
    padding: 0px 30px;
    padding-top: 17px;


}

.homepage_section_09 .faq_section .faq_container .faq_questions .questions_container div p {
    width: 800px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    display: none;
}

/* --------this is only use for dyamic content to .increase_height ---- */

.increase_height {
    height: auto;
    align-items: start;
    padding-bottom: 20px;
}

.homepage_section_09 .faq_section .faq_container .faq_questions .questions_container div {
    font-size: 24px;
    font-weight: 700;
}

.homepage_section_09 .faq_section .faq_container .faq_questions .questions_container svg {
    cursor: pointer;
}

.homepage_section_09 .faq_section .faq_container .faq_headings .image_faq_star {
    position: absolute;
    left: 300px;
    top: 49px;
}

.homepage_section_09 .faq_section .faq_container .faq_headings .image_faq_star svg {
    opacity: 10%;
}
/* -----------------------------------------faq_section_09 ends-------------------- */


/* ----------------------free services section 08 starts--------------------- */


.homepage_section_08 .services_section {
    width: 100%;
    height: auto;
    color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 150px;
}

.homepage_section_08 .services_section .textbox_service p {
    width: 1078px;
    font-size: 18px;
}

.homepage_section_08 .services_section .textbox_service {
    gap: 30px;
    position: relative;
}

.homepage_section_08 .services_section .services_slider {
    width: 100%;
    height: 408px;
    gap: 36px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.homepage_section_08 .services_section .services_slider .slider_container {
    gap: 76px;
    justify-content: center;
    align-items: center;
}

.homepage_section_08 .services_section .services_slider .slider_container .slider_content {
    width: 363px;
    height: auto;
    background: #1D5AFF;
    border-radius: 10px;
    box-shadow: 7px 7px;
    padding: 20px;
    gap: 20px;
    border: 2px solid white;
}

.homepage_section_08 .services_section .services_slider .slider_container .slider_content .slider_count {
    width: 42px;
    height: 42px;
    background: #000;
    border-radius: 50%;
    box-shadow: 2px 0px 0px 0px white;
    padding: 6px;
    color: white;
}

.homepage_section_08 .services_section .services_slider .slider_container .slider_content  .slider_count h3 {
    color: #ffffff;
    font-size: 25px;
}

.homepage_section_08 .services_section .services_slider .slider_container .slider_content .slider_content_details {
    text-align: start;
    gap: 30px;
}

.homepage_section_08 .services_section .services_slider .slider_container .slider_content .slider_content_details h3 {
    text-align: start;
    gap: 30px;
    color: var(--solid_white_clr);
}

.homepage_section_08 .services_section .services_slider .slider_container .slider_content .slider_content_details p {
    color: #ffffff;
    line-height: 20px;
}

.homepage_section_08 .services_section .services_slider .slider_container .slider_content .slider_content_details .slider-rate {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.homepage_section_08 .services_section .services_slider .slider_container .slider_content .slider_content_details .slider-rate h3 {
    color: var(--global_btn_clr);
}

.homepage_section_08 .services_section .textbox_service .service_stars {
    position: absolute;
}

.homepage_section_08 .services_section .textbox_service .service_stars .star1services {
    position: relative;
    top: 127px;
    right: 273px;
}

.homepage_section_08 .services_section .textbox_service .service_stars .star2services {
    position: relative;
    top: 54px;
    left: 1045px;
}

/* ----------------------free services section 08 ends--------------------- */