
.homepage_section_08 .services_section {
    width: 100%;
    height: auto;
    color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.875rem;
    margin-top: 13.125rem;
}

.homepage_section_08 .textbox_service p {
    width: 1078px;
    font-size: 18px;
}

.homepage_section_08 .textbox_service {
    gap: 1.875rem;
    position: relative;
}

.homepage_section_08 .services_slider {
    width: 100%;
    height: 408px;
    gap: 3%;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    padding:  0.625rem;
}

.homepage_section_08 .slider_container {
    gap: 4%;
    justify-content: center;
    align-items: center;
}

.homepage_section_08 .slider_content {
    width: 40%;
    height: auto;
    background: #1D5AFF;
    border-radius:  0.625rem;
    box-shadow: 7px 7px;
    padding: 1.25rem;
    gap: 1.25rem;
    border: 2px solid white;
}

.homepage_section_08 .slider_count {
    width: 42px;
    height: 42px;
    background: #000;
    border-radius: 50%;
    box-shadow: 2px 0px 0px 0px white;
    padding: 6px;
    color: white;
}

.homepage_section_08 .slider_count h3 {
    color: #ffffff;
    font-size: 25px;
}

.homepage_section_08 .slider_content_details {
    text-align: start;
    gap: 1.875rem;
}

.homepage_section_08 .slider_content_details h3 {
    text-align: start;
    gap: 1.875rem;
    color: var(--solid_white_clr);
}

.homepage_section_08 .slider_content_details p {
    color: #ffffff;
    line-height: 1.25rem;
}

.homepage_section_08 .slider_rate {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.homepage_section_08 .slider_rate h3 {
    color: var(--global_btn_clr);
}

.homepage_section_08 .service_stars {
    position: absolute;
}

.homepage_section_08 .star1services {
    position: relative;
    top: 127px;
    right: 273px;
}

.homepage_section_08 .star2services {
    position: relative;
    top: 54px;
    left: 1045px;
}

/* ----------------------free services section 08 ends--------------------- */