body,
h3 {
    margin: 0;
    color: white;
}

ul {
    list-style-type: none;
}

.main-container {
    font-family: 'Nexa';
    position: relative;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-container {
    width: 100%;
    height: 341px;
    margin-top: 90px;
}

.footer-description h3 {
    line-height: 39px;
}

.black-container {
    width: 100%;
    height: 1009px;
    background-color: black;
    flex-direction: column;
    gap: 70px;
}

.content-container {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 1px;
    justify-content: center;
    display: flex;
}

.mini-container {
    border-radius: 10px;
    width: 88%;
    background-color: #1D5AFF;
    box-shadow: 9px 9px black;
    border: 3px solid white;
}

.mini-sub-container {
    padding: 0px;
    width: 1143px;
    padding-bottom: 100px;
    flex-direction: column;
}

.links-container {
    width: 88%;
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
    align-items: center;
}

.links-container li {
    font-size: 22px;
}

.links-container li:hover {
    color: var(--primary_clr);
    cursor: pointer;
}

.links-container ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.mini-sub-container h4 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.mini-sub-container {
    gap: 30px;
}

.footer-description {
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-description span {
    font-size: 24px;
}

.footer-description ul,
li span {
    margin-bottom: 20px;
    display: flex;
    color: var(--global_btn_clr);
    font-weight: 700;
    font-size: 36px;
}

.copywrite-container {
    border-top: gray solid 2px;
    width: 88%;
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
}

.copywrite-links {
    display: flex;
    gap: 70px;
}

.copywrite-text {
    width: 500px;
    color: white;
}

.footer-description h3 {
    font-size: 36px;
    font-weight: 700;
}

.social-media {
    width: 88%;
}

.mini-container-button {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.yellow-button {
    background: var(--global_btn_clr);
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #000;
}

.color {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.social-media {
    justify-content: start;
    align-items: center;
    display: flex;
    gap: 15px;
}

.social-media svg:hover path {
    fill: var(--primary_clr);
    cursor: pointer;
}

.social-media svg path {
    fill: rgb(255, 255, 255);
    cursor: pointer;
}

.yellow-button div {
    gap: 10px;
}

.star-box {
    width: 89%;
    height: 600px;
    position: absolute;
    top: 0;
}

.image-first {
    position: relative;
    left: 100px;
    top: 50px;
}

.image-second {
    position: relative;
    left: 1347px;
    top: 74px;
    width: 94px;
    height: 88px;
}

.image-third {
    position: relative;
    left: 1206px;
    top: 240px;
    width: 40px;
    height: 40px;
}

.image-forth {
    position: relative;
    left: 130px;
    top: 360px;
    width: 43px;
    height: 43px;
}

.styling-text {
    background: #ffffff;
    color: #1D5AFF;
    transform: rotate(-0.92deg);
    width: fit-content;
    margin-left: 10px;
    padding: 0 15px;
}

.container-max {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mini-box-text {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    width: 90%;
    display: flex;
    justify-content: center;
}

.footer-description h3 span {
    font-size: 36px;
    background-color: #1D5AFF;
    display: flex;
    width: fit-content;
    padding: 2px 5px;
}

.upper-buttons {
    position: relative;
    display: flex;
    gap: 40px;
    top: 360px;
    width: 100%;
    justify-content: center;
}

.blogs-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------blog-section-starts------------------------- */

.container-Blogs {
    width: 88%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.container-Blogs h2 {
    color: #000000;
    font-weight: 700;
    font-size: 64px;
}

.responsive-image {
    width: 100%;
    height: auto;
}

.blog-card {
    width: 100%;
    height: auto;
    border: solid 2px #1D5AFF;
    border-radius: 15px;
    justify-content: center;
    padding: 10px;
    box-shadow: 9px 9px black;

}

.blog-image {
    position: relative;
    width: 100%;

}

.blog-image img {
    object-fit: cover;
}

.card-content span {
    color: #ffffff;
    background: #1D5AFF;
    padding: 5px;
    width: fit-content;
}

.card-content h4 {
    font-size: 24px;
    color: #000000;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.blog-author-details {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
}

.card-details {
    padding: 0px 20px;
}

.container-author {
    display: flex;
    gap: 10px;
}

.container-author p {
    font-size: 13px;
}

.read-post {
    color: #1D5AFF;
    font-weight: 700;
}

.card-container {
    display: flex;
    gap: 25px;
}

.styling-text2 {
    background: #1D5AFF;
    color: #ffffff;
    transform: rotate(-0.40deg);
    width: fit-content;
    margin-left: 10px;

    padding: 0px 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.container-Blogs h2 {
    display: flex;
    gap: 10px;
}

/* -----------------------------------------faq-section-------------------- */


.faq-section {
    width: 100%;
    height: 100vh;
    color: #000000;
    background: #F1F1F1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.faq-headings {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.faq-questions {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-container {
    display: flex;
    width: 88%;
    gap: 60px;
    height: auto;
    position: sticky;
}

.faq-headings p {
    font-size: 18px;
    line-height: 24px;
}

.faq-headings h2 {
    font-weight: 900;
}

.questions-container {
    background: #ffffff;
    width: 1224px;
    height: 71px;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: #000000 4px 4px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    padding-top: 17px;
   
    
}

.questions-container div p {
    width: 800px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    display: none;
}

.increase_height {
    height: auto;
    align-items: start;
    padding-bottom: 20px;
}


.questions-container div {
    font-size: 24px;
    font-weight: 700;
}

.questions-container svg {
    cursor: pointer;
}

.button-margin {
    margin-top: 20px;
}

.image-faq-star {
    position: absolute;
    left: 300px;
    top: 49px;
}

.image-faq-star svg {
    opacity: 10%;
}

/* ----------------------free services section --------------------- */

.center-content {
    justify-content: center;
    align-items: center;
    display: flex;
}

.services-section {
    width: 100%;
    height: 100vh;
    color: #000;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.textbox-service p {
    width: 1078px;
    font-size: 18px;
}

.textbox-service {
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: relative;
}

.services-slider {
    width: 100%;
    height: 408px;
    gap: 36px;
    margin-top: 40px;
}

.slider-container {
    width: 88%;
    gap: 76px;
}

.slider-content {
    width: 363px;
    height: 370px;
    background: #1D5AFF;
    border-radius: 10px;
    box-shadow: 7px 7px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
}

.slider-count {
    width: 42px;
    height: 42px;
    background: #000;
    border-radius: 50%;
    box-shadow: 2px 0px 0px 0px white;
    padding: 6px;
}

.slider-count h3 {
    color: #ffffff;
    font-size: 25px;
}

.slider-content-details {
    text-align: start;
    gap: 30px;
    display: flex;
    flex-direction: column;

}

.slider-content-details p {
    color: #ffffff;
    line-height: 20px;
}

.slider-rate {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.slider-rate h3 {
    color: var(--global_btn_clr);
}

.service-stars {
    position: absolute;
}

.star1services {
    position: relative;
    top: 127px;
    right: 273px;
}

.star2services {
    position: relative;
    top: 54px;
    left: 1045px;
}