.container_secure_section {
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    gap: 66px;
    position: relative;
}

.secure_items_Container {
    width: 100%;
    justify-content: space-around;
}

.secure_items {
    width: 20%;
    text-align: center;
}

.secure_items h4 {
    margin-top: 15px;
}

.login_form {
    gap: 20px;
    flex: 1;
    position: relative;
    width: 60%;
}

.payment_form {
    flex: 1;
}

.two_inputs {
    gap: 40px;
}

.two_inputs input {
    width: 464px;
    height: 60px;
}

.form_Checkbox {
    width: 25px;
    height: 25px;
    box-shadow: none;
    background: transparent !important;
    border: 1px solid #747474 !important;
    cursor: pointer;
}

.checkbox_container {
    gap: 20px;
    align-items: center;
}

.submit_button {
    width: 212px;
    height: 58px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.coupon_code_form {
    gap: 20px;
}

.coupon_code_form input {
    width: 100%;
}

.coupon_code_form button {
    width: 216px;
    height: 58px;
}

.coupon_container {
    margin-bottom: 100px;
    gap: 30px;
}

.second_form input {
    height: 58px;
    margin-bottom: 30px;
}

.form_container .container {
    gap: 47px;
}

.payment_form {
    position: relative;
}

.Payment_box {
    width: 100%;
    padding: 50px 40px;
    gap: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px black;
}

.border_radius_20 {
    border-radius: 20px;
}

.border_radius_10 {
    border-radius: 5px;
}


.Payment_details_items {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.Payment_box {
    gap: 40px;
}

.textblue {
    color: #1D5AFF;
}

.para_pay {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.price {
    width: 26%;
    font-size: 20px;
    font-weight: 700;
    justify-content: end;

}

.radio_button {
    box-shadow: none;
    width: 14px;
    height: 14px;
    position: relative;
    top: 4px;
}

.radio_button_selector {
    gap: 10px;
}

.conditions_container {
    gap: 10px;
    align-items: center;
}

.underline_blue {
    text-decoration: underline;
    color: #1D5AFF;
}

.paypal_button {
    height: 50px;
    font-weight: 700;
    color: #1D5AFF;
    font-size: 18px;
    font-family: Nexa;
    align-items: center;
    gap: 15px;
    justify-content: center;
    border: 3px solid;
    border-radius: 10px;
    margin-bottom: 20px;
}

.start_top_left {
    top: -40px;
    left: 8px;
}

.start_mid {
    top: 292px;
    left: 542px;
}

.bottom_star {
    right: -119px;
    bottom: 63px;
}

.bottom_star2 {
    right: -80px;
    bottom: -40px;
    opacity: 20%;
}

input {
    padding-left: 44px;
}

textarea {
    padding-left: 44px;
    padding-top: 20px;
}

.debit_button {
    align-items: center;
    height: 50px;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-family: Nexa;
    margin: 4px;
}

.width_full_input {
    width: 100%;
    height: 45px;
}

.debit_input_two {
    gap: 20px;
}

.debit_card_form {
    gap: 20px;
}

.billin_Address_container {
    justify-content: space-between;
}

.star6_bottom {
    bottom: 678px;
    right: -61px;
    z-index: -1;
}

.starpay6_top {
    top: 0;
    right: 10px;
}

.start_pay {
    opacity: 20%;
    left: -9px;
    top: 840px;
}

.margin_Checkbox {
    margin: 30px 0px;
   
}

.Credit_Card_input {
    height: 45px;
    width: 100%;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    box-shadow: none;
    padding: 0;
}

.prifix_icon {
    border: 1px solid black;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-right: none;
    padding:0px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: white;
}

.credit_container {
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px black;
    border-radius: 5px;
    
}

.date_input {
    padding: 0;
    box-shadow: none;
    height: 45px;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-right: 25px;
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
